suggested MANIFEST.in rules:
  include *.rst
  include *.yaml
  include .coveragerc
  include tox.ini
  recursive-include docs *.bat
  recursive-include docs *.py
  recursive-include docs *.rst
  recursive-include docs Makefile
  recursive-include telnetlib3 *.py

