git+git://github.com/GreenSteam/pep257.git@master#egg=pep257
git+git://github.com/jquast/prospector.git@bugfix-allerror-has-no-message#egg=prospector[with_frosted,with_pyroma]
restructuredtext_lint
doc8
